<div class="carousel-container">
  @if (title) {
    <div class="carousel-header">
      <h3 class="carousel-title">{{ title }}</h3>
      @if (subtitle) {
        <p class="carousel-subtitle">{{ subtitle }}</p>
      }
    </div>
  }

  @if (dataList && dataList.length > 0 && componentType) {
    <div class="component-carousel">
      <div class="carousel-scroll-container" #scrollContainer>
        @for (data of dataList; track trackByIndex($index)) {
          <div class="carousel-item">
            <ng-container
              *ngComponentOutlet="componentType; inputs: data">
            </ng-container>
          </div>
        }
      </div>

      @if (carouselConfig.showPagination && dataList.length > 1) {
        <div class="carousel-pagination">
          @for (dot of paginationDots; track dot) {
            <button
              class="pagination-dot"
              [class.active]="dot === currentIndex"
              (click)="scrollToIndex(dot)">
            </button>
          }
        </div>
      }
    </div>
  } @else {
    <div class="empty-state">
      <ion-icon name="albums-outline" class="empty-icon"></ion-icon>
      <p class="empty-text">Nessun elemento da visualizzare</p>
    </div>
  }
</div>
