.draggable-badge {
  position: fixed;
  left: 0;
  top: 0;

  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
  box-shadow: 0 4px 20px rgba(139, 92, 246, 0.4);

  user-select: none;
  -webkit-user-select: none;

  /* fondamentale su mobile: niente scroll/gestures del browser */
  touch-action: none;
  -webkit-touch-callout: none;

  /* performance */
  will-change: transform;
  transform: translate3d(0px, 0px, 0);

  transition: box-shadow 0.2s ease;

  &.dragging {
    transition: none;

    /* durante il drag eviti hover/active che “saltano” su mobile */
    box-shadow: 0 6px 25px rgba(139, 92, 246, 0.55);
  }

  .badge-icon {
    color: white;
    font-size: 28px;
    z-index: 2;
    pointer-events: none;
  }

  .pulse-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(139, 92, 246, 0.6);
    border-radius: 50%;
    animation: pulse 2s infinite;
    pointer-events: none;
  }


}
.image-my-pulse{
  background-image: url('../../assets/icon/real-time-notify.svg'); // o .jpg/.svg
  background-size: cover;         // riempie lo schermo
  background-position: center;    // centrata
  background-repeat: no-repeat;   // niente ripetizione
  height: 100%;
  width: 100%;
}