:host {
  /* VIOLA USATO FINORA */
  --violet-50:  #f0e6fd;
  --violet-300: #a770f5;
  --violet-500: #7f0df2; /* primary */
  --violet-700: #5709b2;

  --inactive:   #b5a7c7;
  --bg:         #141118;
  --bar-bg:     rgba(35, 30, 42, 0.72);  /* card viola con trasparenza */
  --bar-border: rgba(48, 41, 58, 0.9);
}

ion-tabs, ion-content {
  --ion-background-color: var(--bg);
  background: var(--bg);
}

/* TAB BAR stile stitch ma viola */
.tab-bar {
  --background: transparent; /* usiamo il nostro background custom sotto */
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 1px solid var(--bar-border);
  box-shadow:  0 -8px 28px -8px rgb(127 13 242 / 94%);

  /* strato di colore sotto (per rispettare il blur su iOS/Android) */
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bar-bg);
    pointer-events: none;
    z-index: -1;
  }
}

/* Bottoni */
.tab-item {
  color: var(--inactive);
  text-shadow: 0 0 5px rgba(181, 167, 199, .28);
  transition: color .25s ease, text-shadow .25s ease;

  ion-icon {
    font-size: 26px;
    margin-bottom: 2px;
  }

  /* stato attivo/selelezionato (Ionic applica .tab-selected) */
  &.tab-selected {
    color: var(--violet-500);
    text-shadow:
      0 0 8px rgba(127, 13, 242, .75),
      0 0 16px rgba(127, 13, 242, .45);

    ion-icon { --ionicon-stroke-width: 2.5px; }
  }

  &:not(.tab-selected):hover {
    color: var(--violet-50);
  }
}

/* opzionale: font + spacing per l’etichetta */
ion-label {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .02em;
}

ion-tab-bar{
  height: 8%;
}