<div class="main-layout">
  <!-- Top Bar -->
  <!-- <header class="top-bar">
    <div class="logo-container">
     <img src="../assets/icon/pulse.svg" alt="Pulse Logo" class="app-logo" />    </div>
  </header> -->

  <!-- Main Content Area -->
  <main class="main-content">
    <ion-router-outlet></ion-router-outlet>
  </main>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">

    <ion-tab-button
      class="tab-item"
      [routerLink]="'/my-vibes'"
      routerLinkActive="tab-selected"
      [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>My Vibes</ion-label>
    </ion-tab-button>

    <ion-tab-button
      class="tab-item"
      [routerLink]="'/events-search'"
      routerLinkActive="tab-selected"
      [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Ricerca Eventi</ion-label>
    </ion-tab-button>

    <ion-tab-button
      class="tab-item"
      [routerLink]="'/tabs/profile'"
      routerLinkActive="tab-selected"
      [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


</div>
