<div class="participants-header">
  <h3 class="participants-title">{{ title }}</h3>
</div>

<div class="scroll-container">
  <div class="avatars-scrollable">
    <div *ngFor="let participant of visibleParticipants" class="avatar-item">
      <img 
        [src]="participant.avatarUrl" 
        [alt]="participant.name"
        class="avatar"
      />
      <span 
        *ngIf="participant.badge" 
        class="badge"
        [ngClass]="getBadgeClass(participant.badge)"
      >
        {{ participant.badge }}
      </span>
    </div>
    <div *ngIf="remainingCount > 0" class="avatar-more">
      <span class="more-count">+{{ remainingCount }}</span>
    </div>
  </div>
</div>
