<div class="histogram-card">
  <div class="card-header">
    <p class="card-title">{{ title }}</p>
    <ion-icon 
      *ngIf="showMenu"
      name="ellipsis-horizontal" 
      class="menu-icon">
    </ion-icon>
  </div>
  
  <div class="histogram-container">
    <div class="bars-container">
      @for (point of normalizedData; track $index) {
        <div 
          class="bar-group"
          (mouseenter)="onBarHover($event, true)"
          (mouseleave)="onBarHover($event, false)">
          
          <span 
            class="value-label"
            [class.highlighted]="point.isHighlighted">
            {{ point.value }}
          </span>
          
          <div 
            class="bar"
            [class.highlighted]="point.isHighlighted"
            [style.height.px]="point.height">
          </div>
          
          <span 
            class="bar-label"
            [class.highlighted]="point.isHighlighted">
            {{ point.label }}
          </span>
        </div>
      }
    </div>
  </div>
</div>
